.body {
 -fx-background-image:url("5a65ee278cd557143f05a4ba91abbfa8.gif");

}
/*.body1{
 -fx-background-image:url("");
}
.body2{
 -fx-background-image:url("");
}
.body3{
 -fx-background-image:url("");
}
.body4{
 -fx-background-image:url("");
}
.body5{
 -fx-background-image:url("");
}
.body6{
 -fx-background-image:url("");
}
.body7{
 -fx-background-image:url("");
}
.body8{
 -fx-background-image:url("");
}
.body9{
 -fx-background-image:url("");
}*/

